.person-array
  display: flex
  .person
    display: flex
    flex-direction: column
    width: 200px
    height: 100px
    border-style: solid
    border-width: 1px
    border-radius: 8px
    .name
      font-size: 14pt
    .secret-santa
      font-size: 12pt